menuconfig VTISM
    tristate "Enable VTISM"
    depends on MIGRATION && HOTPLUG_CPU && NUMA

if VTISM

config VTISM_MODULE_SYM_EXPORT
    bool "Allow modular compilation of VTISM"
    default y
    depends on VTISM=y
    help
        Allow the VTISM module to be compiled as a loadable kernel module. 
        This option is automatically enabled when VTISM is set to 'm'.

config VTISM_MIGRATION_THREAD_NUM
    int "Number of page migration helper threads"
    default 4
    range 1 128
    help
        Specify the number of helper threads to assist in page migration.
        A higher number of threads may improve migration speed on systems
        with a large number of NUMA nodes, but it also increases CPU usage.
        The valid range is between 1 and 128.

config VTISM_DEMOTION_MIN_FREE_RATIO
    int "Minimum free memory ratio for page demotion"
    default 5
    range 1 100
    help
        Specify the minimum free memory ratio for page demotion. which can
        also change by /sys/kernel/mm/vtism/demotion_min_free_ratio

config VTISM_PROMOTION_MIN_FREE_RATIO
    int "Minimum free memory ratio for page promotion"
    default 2
    range 1 100
    help
        Specify the minimum free memory ratio for page promotion. which can
        also change by /sys/kernel/mm/vtism/promotion_min_free_ratio

endif # VTISM
