menuconfig VTISM
    tristate "Enable VTISM"
    depends on MIGRATION && HOTPLUG_CPU && NUMA

if VTISM

config VTISM_MODULE_SYM_EXPORT
    bool "Allow modular compilation of VTISM"
    default y
    depends on VTISM=m
    help
        Allow the VTISM module to be compiled as a loadable kernel module. 
        This option is automatically enabled when VTISM is set to 'm'.

config VTISM_MIGRATION_THREAD_NUM
    int "Number of page migration helper threads"
    default 4
    range 1 128
    help
        Specify the number of helper threads to assist in page migration.
        A higher number of threads may improve migration speed on systems
        with a large number of NUMA nodes, but it also increases CPU usage.
        The valid range is between 1 and 128.

endif # VTISM
